<!--====================  header area ====================-->
<app-header></app-header>
<!--====================  header area ====================-->

<router-outlet></router-outlet>

<!--====================  footer area ====================-->
<app-footer></app-footer>
<div
  class="scroll-cart"
  (scroll)="onScroll($event)"
  [ngClass]="{ 'scrol-cart-visible': !isVisible }"
>
  <div class="header-cart-icon" style="padding-bottom: 3px;padding-top: 3px">
    <a
      href="javascript:void(0)"
      [routerLink]="['/shop/product-compare']"
      matTooltip="So sánh sản phẩm"
      matTooltipPosition="above"
      class="small-cart-trigger"
      (click)="toTop()"
    >
      <i class="icon-sliders"></i>
      <span class="cart-counter">{{ compareProducts.length }}</span>
    </a>
  </div>
  <div class="header-cart-icon" style="padding-bottom: 3px">
    <a
      href="javascript:void(0)"
      [routerLink]="['/shop/cart']"
      matTooltip="Giỏ hàng của bạn"
      class="small-cart-trigger"
      (click)="toTop()"
    >
      <i class="icon-shopping-cart"></i>
      <span class="cart-counter">{{ cartProducts.length }}</span>
    </a>
  </div>
</div>
