<!--====================  split banner area ====================-->

<div class="split-banner-area mb-40 mb-sm-30">
  <div class="container">
      <div class="row row-5">
          <div class="col-md-6 mb-sm-10">
              <!--=======  single split banner  =======-->
              
              <div class="single-split-banner">
                  <div class="single-split-banner__image">
                      <a href="javascript:void(0)">
                          <img src="../../../../assets/img/banners/banner1.jpg" class="img-fluid" alt="">
                          <div class="single-split-banner__image__content">
                              <p class="split-banner-title split-banner-title--light">New Arrivals</p>
                              <p class="split-banner-title split-banner-title--bold">House Plants</p>
                              <p class="split-banner-title split-banner-title--price">from <span class="amount">$37.89</span></p>
                          </div>
                      </a>
                  </div>
              </div>
              
              <!--=======  End of single split banner  =======-->
          </div>
          <div class="col-md-6 mb-sm-10">
              <!--=======  single split banner  =======-->
              
              <div class="single-split-banner">
                  <div class="single-split-banner__image">
                      <a href="javascript:void(0)">
                          <img src="../../../../assets/img/banners/banner2.jpg" class="img-fluid" alt="">
                          <div class="single-split-banner__image__content">
                              <p class="split-banner-title split-banner-title--light">New Arrivals</p>
                              <p class="split-banner-title split-banner-title--bold">Pothos Neon</p>
                              <p class="split-banner-title split-banner-title--price">from <span class="amount">$35.89</span></p>
                          </div>
                      </a>
                  </div>
              </div>
              
              <!--=======  End of single split banner  =======-->
          </div>
      </div>
  </div>
</div>

<!--====================  End of split banner area  ====================-->