.container-image{
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
}
.container-image img {
    width: 100%;
}
.compare-table .table tbody tr td{
    padding: 25px 10px !important;
}
.compare-table .table tbody tr td.first-column {
    text-align: end;
}