
<!--====================  Header area ====================-->

<div class="header-area header-sticky">
  <!--====================  Navigation top ====================-->

  <div class="navigation-top">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <!--====================  navigation section ====================-->
                                      
                  <div class="navigation-top-topbar pt-10 pb-10"> 
                      <div class="row align-items-center">
                          <div class="col-lg-4 col-md-6 text-center text-md-left">
                              <!--=======  header top social links  =======-->

                              <div class="header-top-social-links">
                                  <span class="follow-text mr-15">Follow Us:</span>
                                  <!--=======  social link small  =======-->
                                  
                                  <ul class="social-link-small">
                                      <li><a href="http://www.facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                      <li><a href="http://www.twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                      <li><a href="http://plus.google.com/"><i class="ion-social-googleplus-outline"></i></a></li>
                                      <li><a href="http://www.instagram.com/"><i class="ion-social-instagram-outline"></i></a></li>
                                      <li><a href="http://www.youtube.com/"><i class="ion-social-youtube"></i></a></li>
                                  </ul>
                                  
                                  <!--=======  End of social link small  =======-->
                              </div>
                              
                              
                              <!--=======  End of header top social links  =======-->
                          </div>
                          <div class="col-lg-4 offset-lg-4 col-md-6">
                              <!--=======  header top dropdown container  =======-->
                              
                              <div class="headertop-dropdown-container justify-content-center justify-content-md-end">
                                  <div class="header-top-single-dropdown" *ngIf="!currentUser">
                                      <a href="javascript:void(0)" class="active-dropdown-trigger" id="user-options">My Account <i class="ion-ios-arrow-down"></i></a>
                                      <!--=======  dropdown menu items  =======-->
                                      
                                      <div class="header-top-single-dropdown__dropdown-menu-items deactive-dropdown-menu extra-small-mobile-fix">
                                          <ul>
                                              <li><a href="javascript:void(0)" routerLink="/home/register">Register</a></li>
                                              <li><a href="javascript:void(0)" routerLink="/home/login">Login</a></li>
                                          </ul>
                                      </div>
                                      
                                      <!--=======  End of dropdown menu items  =======-->
                                  </div>
                                  <div class="header-top-single-dropdown" *ngIf="currentUser">
                                        <a href="javascript:void(0)" class="active-dropdown-trigger" id="user-options-02">{{currentUser.firstName + currentUser.lastName}}<i class="ion-ios-arrow-down"></i></a>
                                        <!--=======  dropdown menu items  =======-->
                                        
                                        <div class="header-top-single-dropdown__dropdown-menu-items deactive-dropdown-menu extra-small-mobile-fix">
                                            <ul>
                                                <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                                            </ul>
                                        </div>
                                  </div>

                                  <span class="separator">|</span>
                                  <div class="header-top-single-dropdown">
                                      <a href="javascript:void(0)" class="active-dropdown-trigger" id="language-options"> <img src="../../../../assets/img/icons/en-gb.png" alt=""> En-Gb <i class="ion-ios-arrow-down"></i></a>
                                      <!--=======  dropdown menu items  =======-->
                                      
                                      <div class="header-top-single-dropdown__dropdown-menu-items deactive-dropdown-menu">
                                          <ul>
                                              <li><a href="#"> <img src="../../../../assets/img/icons/en-gb.png" alt=""> English </a></li>
                                              <li><a href="#"> <img src="../../../../assets/img/icons/de-de.png" alt=""> Germany </a></li>
                                          </ul>
                                      </div>
                                      
                                      <!--=======  End of dropdown menu items  =======-->
                                  </div>
                                  <span class="separator">|</span>
                                  <div class="header-top-single-dropdown">
                                      <a href="javascript:void(0)" class="active-dropdown-trigger" id="currency-options">USD <i class="ion-ios-arrow-down"></i></a>
                                      <!--=======  dropdown menu items  =======-->
                                      
                                      <div class="header-top-single-dropdown__dropdown-menu-items deactive-dropdown-menu">
                                          <ul>
                                              <li><a href="#">€ EURO</a></li>
                                              <li><a href="#">£ Pound Sterling</a></li>
                                              <li><a href="#">$ US Dollar</a></li>
                                          </ul>
                                      </div>
                                      
                                      <!--=======  End of dropdown menu items  =======-->
                                  </div>
                              </div>
                              
                              <!--=======  End of header top dropdown container  =======-->
                          </div>
                      </div>
                  </div>

                  <!--====================  End of navigation section  ====================-->
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <!--====================  navigation top search ====================-->


                  <div class="navigation-top-search-area pt-25 pb-25">
                      <div class="row align-items-center">
                          <div class="col-6 col-xl-2 col-lg-3 order-1 col-md-6 col-sm-5">
                              <!--=======  logo  =======-->
                              
                              <div class="logo">
                                  <a href="javascript:void(0)" routerLink="/">
                                      <img src="../../../../assets/img/logo.png" class="img-fluid" alt="">
                                  </a>
                              </div>
                              
                              <!--=======  End of logo  =======-->
                          </div>

                          <div class="col-xl-5 offset-xl-1 col-lg-4 order-4 order-lg-2 mt-md-25 mt-sm-25">
                              <!--=======  search bar  =======-->
                              
                              <div class="search-bar">
                                  <form action="#">
                                      <input type="search" placeholder="Search entire store here ...">
                                      <button type="submit"> <i class="icon-search"></i></button>
                                  </form>
                              </div>
                              
                              <!--=======  End of search bar  =======-->
                          </div>

                          <div class="col-xl-3 col-lg-3 order-3 order-sm-2 order-lg-3 order-xs-3 col-md-4 col-sm-5 text-center text-sm-left mt-xs-25">
                              <!--=======  customer support text  =======-->
                              
                              <div class="customer-support-text">
                                  <div class="icon">
                                      <img src="../../../../assets/img/icons/icon-header-phone.png" class="img-fluid" alt="">
                                  </div>

                                  <div class="text">
                                      <span>Customer Support</span>
                                      <p>(08) 12 345 789</p>
                                  </div>
                              </div>
                              
                              <!--=======  End of customer support text  =======-->
                          </div>

                          <div class="col-6 col-xl-1 col-lg-2 text-right order-2 order-sm-3 order-lg-4 order-xs-2 col-md-2 col-sm-2">
                              <!--=======  cart icon  =======-->
                              
                              <div class="header-cart-icon">
                                  <a href="javascript:void(0)" id="small-cart-trigger" class="small-cart-trigger">
                                      <i class="icon-shopping-cart"></i>
                                      <span class="cart-counter">{{cartProducts.length}}</span>
                                  </a>

                                  <!--=======  small cart  =======-->
                                  
                                  <div class="small-cart deactive-dropdown-menu">
                                      <div class="small-cart-item-wrapper">
                                          <div class="single-item" *ngFor="let item of cartProducts">
                                              <div class="image">
                                                  <a href="javascript:void(0)">
                                                      <img src="{{item.image}}" class="img-fluid" alt="">
                                                  </a>
                                              </div>
                                              <div class="content">
                                                  <p class="cart-name"><a href="javascript:void(0)">{{item.name}}</a></p>
                                                  <p class="cart-quantity"><span class="quantity-mes">{{item.quatity}} x </span> {{item.priceDiscount ? item.priceDiscount : item.price}}</p>
                                              </div>
                                              <a href="javascript:void(0)" class="remove-icon"><i class="ion-close-round" (click)="openDialog(item)"></i></a>
                                          </div>

                                      </div>

                                      <div class="cart-calculation-table">
                                          <table class="table mb-25">
                                              <tbody>
                                                  <!--<tr>
                                                      <td class="text-left">Sub-Total :</td>
                                                      <td class="text-right">$129.00</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="text-left">Eco Tax (-2.00) :</td>
                                                      <td class="text-right">$4.00</td>
                                                  </tr>
                                                  <tr>
                                                      <td class="text-left">VAT (20%) :</td>
                                                      <td class="text-right">$25.80</td>
                                                  </tr>-->
                                                  <tr>
                                                      <td class="text-left">Total :</td>
                                                      <td class="text-right">${{totalAmount}}</td>
                                                  </tr>
                                              </tbody>
                                          </table>

                                          <div class="cart-buttons">
                                              <a href="javascript:void(0)" routerLink="/shop/cart" class="theme-button">View Cart</a>
                                              <a href="javascript:void(0)" *ngIf="cartProducts.length > 0" routerLink="/shop/checkout" class="theme-button">Checkout</a>
                                          </div>
                                      </div>

                                  </div>
                                  
                                  <!--=======  End of small cart  =======-->
                              </div>
                              
                              <!--=======  End of cart icon  =======-->
                          </div>
                      </div>
                  </div>

                  <!--====================  End of navigation top search  ====================-->
              </div>
          </div>
      </div>
  </div>
      
  <!--====================  End of Navigation top  ====================-->

  <!--====================  navigation menu ====================-->

  <div class="navigation-menu-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <!-- navigation section -->
                  <div class="main-menu d-none d-lg-block">
                      <nav>
                          <ul>
                              <li class="active"><a href="javascript:void(0)" routerLink="/">HOME</a>
                                  <!--<ul class="sub-menu">
                                      <li><a href="index.html">Home Shop 1</a></li>
                                      <li><a href="index-2.html">Home Shop 2</a></li>
                                      <li><a href="index-3.html">Home Shop 3</a></li>
                                      <li><a href="index-4.html">Home Shop 4</a></li>
                                  </ul>-->
                              </li>
                              
                              <!--<li class="menu-item-has-children"><a href="#">PAGES</a>
                                  <ul class="sub-menu">
                                      <li class="menu-item-has-children"><a href="#">Page List One</a>
                                          <ul class="sub-menu">
                                              <li><a href="cart.html">Cart</a></li>
                                              <li><a href="checkout.html">Checkout</a></li>
                                              <li><a href="wishlist.html">Wishlist</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item-has-children"><a href="#">page list two</a>
                                          <ul class="sub-menu">
                                              <li><a href="my-account.html">My Account</a></li>
                                              <li><a href="login-register.html">Login Register</a></li>
                                              <li><a href="faq.html">FAQ</a></li>
                                          </ul>
                                      </li>
                                      <li class="menu-item-has-children"><a href="#">Page list three</a>
                                          <ul class="sub-menu">
                                              <li><a href="compare.html">Compare</a></li>
                                              <li><a href="contact.html">Contact</a></li>
                                              <li><a href="about.html">About Us</a></li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>-->

                              <li class="menu-item-has-children"><a href="javascript:void(0)">CATEGORY</a>
                                  <ul class="mega-menu four-column">
                                      <li><a href="#">Shop Grid</a>
                                          <ul>
                                              <li><a href="javascript:void(0)" routerLink="/shop" style="cursor: pointer">Bonsai</a></li>
                                          </ul>
                                      </li>
                                      <!--<li><a href="shop-list-left-sidebar.html">Shop List</a>
                                          <ul>
                                              <li><a href="shop-list.html">shop List</a></li>
                                              <li><a href="shop-list-left-sidebar.html">shop List Left Sidebar</a></li>
                                              <li><a href="shop-list-right-sidebar.html">shop List Right Sidebar</a></li>
                                          </ul>
                                      </li>
                                      <li><a href="javascript:void(0)">Single Product</a>
                                          <ul>
                                              <li><a href="javascript:void(0)">Single Product</a></li>
                                              <li><a href="single-product-variable.html">Single Product variable</a></li>
                                              <li><a href="single-product-affiliate.html">Single Product affiliate</a></li>
                                              <li><a href="single-product-group.html">Single Product group</a></li>
                                              <li><a href="single-product-tabstyle-2.html">Tab Style 2</a></li>
                                              <li><a href="single-product-tabstyle-3.html">Tab Style 3</a></li>
                                              
                                          </ul>
                                      </li>
                                      <li><a href="javascript:void(0)">Single Product</a>
                                          <ul>
                                              <li><a href="single-product-gallery-left.html">Gallery Left</a></li>
                                              <li><a href="single-product-gallery-right.html">Gallery Right</a></li>
                                              <li><a href="single-product-sticky-left.html">Sticky Left</a></li>
                                              <li><a href="single-product-sticky-right.html">Sticky Right</a></li>
                                              <li><a href="single-product-slider-box.html">Slider Box</a></li>
                                          </ul>
                                      </li>-->
                                      <li class="megamenu-banner d-none d-lg-block mt-30 w-100">
                                          <a href="shop-left-sidebar.html" class="mb-0">
                                              <img src="../../../../assets/img/banners/img-bottom-menu.jpg" class="img-fluid" alt="">
                                          </a>
                                      </li>
                                  </ul>
                              </li>

                              <!--<li class="menu-item-has-children"><a href="blog-left-sidebar.html">BLOG</a>
                                  <ul class="sub-menu">
                                      <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                      <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                      <li><a href="blog-post-left-sidebar.html">Blog Post Left Sidebar</a></li>
                                      <li><a href="blog-post-right-sidebar.html">Blog Post Right Sidebar</a></li>
                                      <li><a href="blog-post-image-format.html">Blog Post Image Format</a></li>
                                      <li><a href="blog-post-image-gallery.html">Blog Post Image Gallery</a></li>
                                      <li><a href="blog-post-audio-format.html">Blog Post Audio Format</a></li>
                                      <li><a href="blog-post-video-format.html">Blog Post Video Format</a></li>
                                  </ul>
                              </li>-->

                              <!--<li><a href="contact.html">CONTACT</a></li>-->
                          </ul>
                      </nav>
                  
                  </div>
                  <!-- end of navigation section -->

                  <!-- Mobile Menu -->
                  <div class="mobile-menu-wrapper d-block d-lg-none pt-15">
                      <div class="mobile-menu"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!--====================  End of navigation menu  ====================-->
</div>

<!--====================  End of Header area  ====================-->
