
<div class="footer-area">
  <div class="container">
      <div class="row mb-40">
          <div class="col-lg-12">
              <div class="footer-content-wrapper border-top pt-40">
                  <div class="row">
                      <div class="col-lg-4 col-md-6">
                          <!--=======  single footer widget  =======-->
                          
                          <div class="single-footer-widget">
                              <div class="footer-logo mb-25">
                                  <img src="../../../../assets/img/logo-alula2.png" class="img-fluid" alt="">
                              </div>
      
                              <div class="footer-text-block mb-10">
                                  <h5 class="footer-text-block__title">Address</h5>
                                  <p class="footer-text-block__content">4710-4890 Breckinridge St, UK Burlington, VT 05401</p>
                              </div>
      
                              <div class="footer-text-block mb-10">
                                  <h5 class="footer-text-block__title">Need Help?</h5>
                                  <p class="footer-text-block__content">Call: 1-800-345-6789</p>
                              </div>
      
                              <div class="footer-social-icon-block">
                                  <ul>
                                      <li><a class="facebook-icon" href="http://www.facebook.com/"><i class="ion-social-facebook"></i></a></li>
                                      <li><a class="twitter-icon" href="http://www.twitter.com/"><i class="ion-social-twitter"></i></a></li>
                                      <li><a class="googleplus-icon" href="http://plus.google.com/"><i class="ion-social-googleplus"></i></a></li>
                                      <li><a class="instagram-icon" href="http://www.instagram.com/"><i class="ion-social-instagram-outline"></i></a></li>
                                      <li><a class="youtube-icon" href="http://www.youtube.com/"><i class="ion-social-youtube"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          
                          <!--=======  End of single footer widget  =======-->
                      </div>
      
                      <div class="col-lg-4 col-md-6 mt-sm-30">
                          <!--=======  single footer widget  =======-->
                          
                          <div class="single-footer-widget">
                              <h4 class="footer-widget-title"><a href="javascript:void(0)">Follow on instagram</a></h4>
      
                              <div class="instagram-image-slider-wrapper ht-slick-slider--footer">
                                  <div class="ht-slick-slider"
                                  data-slick-setting='{
                                      "slidesToShow": 4,
                                      "slidesToScroll": 1,
                                      "dots": false,
                                      "autoplay": false,
                                      "autoplaySpeed": 5000,
                                      "speed": 1000,
                                      "arrows": false,
                                      "rows": 2
                                  }'
                                  data-slick-responsive='[
                                      {"breakpoint":1501, "settings": {"slidesToShow": 4} },
                                      {"breakpoint":1199, "settings": {"slidesToShow": 4} },
                                      {"breakpoint":991, "settings": {"slidesToShow": 3} },
                                      {"breakpoint":767, "settings": {"slidesToShow": 4, "arrows": false} },
                                      {"breakpoint":575, "settings": {"slidesToShow": 4, "arrows": false} },
                                      {"breakpoint":479, "settings": {"slidesToShow": 2, "arrows": false} }
                                  ]'
                                  >
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a1.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a2.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a3.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a4.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a5.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a6.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a7.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a8.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a1.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a2.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a3.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                      <!--=======  single instagram image  =======-->
                                      
                                      <div class="single-instagram-image">
                                          <a href="javascript:void(0)"><img src="../../../../assets/img/instagram/a4.jpg" class="img-fluid" alt=""></a>
                                      </div>
                                      
                                      <!--=======  End of single instagram image  =======-->
                                  </div>
                              </div>  
                          </div>
                          
                          <!--=======  End of single footer widget  =======-->
                      </div>
      
                      <div class="col-lg-4 col-md-6 mt-md-30 mt-sm-30">
                          <!--=======  single footer widget  =======-->
                          
                          <div class="single-footer-widget">
                              <h5 class="montserrat-footer-widget-title">Information</h5>
      
                              <div class="footer-navigation">
                                  <nav>
                                      <ul>
                                          <li><a href="javascript:void(0)">About Us</a></li>
                                          <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                          <li><a href="javascript:void(0)">Contact Us</a></li>
                                          <li><a href="javascript:void(0)">Gift Certificates</a></li>
                                          <li><a href="javascript:void(0)">Specials</a></li>
                                          <li><a href="javascript:void(0)">Delivery Information</a></li>
                                          <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                          <li><a href="javascript:void(0)">Brands</a></li>
                                          <li><a href="javascript:void(0)">Affiliate</a></li>
                                          <li><a href="javascript:void(0)">Site Map</a></li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                          
                          <!--=======  End of single footer widget  =======-->
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-lg-12">
              <div class="copyright-text-area">
                  <div class="row align-items-center">
                      <div class="col-md-6 text-center text-md-left mb-sm-15">
                          <div class="copyright-text">
                              <p>Copyright © 2019 <a href="javascript:void(0)">Alula</a>. All Right Reserved.</p>
                          </div>
                      </div>
                      <div class="col-md-6 text-center text-md-right">
                          <div class="payment-logo">
                              <img src="../../../../assets/img/icons/payment.png" class="img-fluid" alt="">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <a href="javascript:void(0)" class="scroll-top"></a> -->