<!-- <section role="main" class="content-body card-margin"> -->
  <header class="page-header">
    <h2>Basic Tables</h2>
  
    <div class="right-wrapper text-right">
      <ol class="breadcrumbs">
        <li>
          <a href="index.html">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li><span>Tables</span></li>
        <li><span>Basic</span></li>
      </ol>
  
      <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
  </header>

  <!-- start: page -->
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Basic</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Striped</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md table-striped mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Bordered</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md table-bordered mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Hover Rows</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Contextual</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Class</th>
                  <th>Text</th>
                </tr>
              </thead>
              <tbody>
                <tr class="active">
                  <td>1</td>
                  <td>active</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="primary">
                  <td>2</td>
                  <td>primary</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="success">
                  <td>3</td>
                  <td>success</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="warning">
                  <td>4</td>
                  <td>warning</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="danger">
                  <td>5</td>
                  <td>danger</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="info">
                  <td>6</td>
                  <td>info</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
                <tr class="dark">
                  <td>7</td>
                  <td>dark</td>
                  <td>Lorem ipsum dolor sit amet</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Condensed</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md table-sm mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Actions</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td class="actions">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td class="actions">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td class="actions">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Actions Hover</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td class="actions-hover">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td class="actions-hover">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td class="actions-hover">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Actions Hover with fade</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
      <div class="col-lg-6">
        <section class="card">
          <header class="card-header">
            <div class="card-actions">
              <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
              <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
            </div>
    
            <h2 class="card-title">Hover Rows + Actions Hover with Fade</h2>
          </header>
          <div class="card-body">
            <table class="table table-responsive-md table-hover mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td class="actions-hover actions-fade">
                    <a href="#"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#" class="delete-row"><i class="far fa-trash-alt"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </div>
    </div>
  <!-- end: page -->
<!-- </section> -->