<!-- <section role="main" class="content-body card-margin"> -->
<header class="page-header">
  <h2>Basic Tables</h2>

  <div class="right-wrapper text-right">
    <ol class="breadcrumbs">
      <li>
        <a href="index.html">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li><span>Tables</span></li>
      <li><span>Basic</span></li>
    </ol>

    <a class="sidebar-right-toggle" data-open="sidebar-right"
      ><i class="fas fa-chevron-left"></i
    ></a>
  </div>
</header>
<div class="row">
  <div class="col-lg-12">
    <section class="card">
      <header class="card-header">
        <div class="card-actions">
          <a
            href="javascript:void(0)"
            class="card-action card-action-toggle"
            data-card-toggle
          ></a>
          <a
            href="javascript:void(0)"
            class="card-action card-action-dismiss"
            data-card-dismiss
          ></a>
        </div>

        <h2 class="card-title">Customer - Order</h2>
      </header>
      <div class="card-body">
        <table class="table table-responsive-md table-hover mb-0">
          <thead>
            <tr>
              <th *ngFor="let column of headerColumnKey">{{ column.toUpperCase() }}</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of arrOrders; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.firstname }}</td>
              <td>{{ item.lastname }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phonenumber }}</td>
              <td>{{ item.company }}</td>
              <td>{{ item.address01 }}</td>
              <td>{{ item.address02 }}</td>
              <td>{{ item.country }}</td>
              <td>{{ item.city }}</td>
              <td>{{ item.state }}</td>
              <td>{{ item.zipcode }}</td>
              <td>{{ item.methodPayment }}</td>
              <td>
                  <p *ngFor="let prouduct of item.product" style="margin-bottom: 0;">{{prouduct.quatity}} - {{prouduct.name}}</p>
              </td>
              <td>${{ item.totalAmount }}</td>
              <td class="actions">
                <a href="#"><i class="fas fa-pencil-alt"></i></a>
                <a href="#" class="delete-row"
                  ><i class="far fa-trash-alt"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>
<!-- end: page -->
<!-- </section> -->
