 <!--====================  breadcrumb area ====================-->
    
 <div class="breadcrumb-area pt-10 pb-10 border-bottom mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb content  =======-->
                
                <div class="breadcrumb-content">
                    <ul>
                        <li class="has-child"><a href="javascript:void(0)">Trang chủ</a></li>
                        <li>Giỏ hàng</li>
                    </ul>
                </div>
                
                <!--=======  End of breadcrumb content  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--==================== page content ====================-->

<div class="page-section pb-40" *ngIf="isShowCart">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">				
                    <!--=======  cart table  =======-->
                    
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Hình ảnh</th>
                                    <th class="pro-title">Sản phẩm</th>
                                    <th class="pro-price">Giá</th>
                                    <th class="pro-quantity">Số lượng</th>
                                    <th class="pro-subtotal">Tổng tiền</th>
                                    <th class="pro-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartProducts">
                                    <td class="pro-thumbnail"><a href="javascript:void(0)"><img src="{{item.image}}" class="img-fluid" alt="Product"></a></td>
                                    <td class="pro-title"><a href="javascript:void(0)">{{item.name}}</a></td>
                                    <td class="pro-price"><span>{{item.priceDiscount}} Đ</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" [value]="item.quatity" [(ngModel)]="item.quatity" #qtyRef="ngModel" [ngModelOptions]="{standalone: true}"></div></td> 
                                    <td class="pro-subtotal"><span>{{qtyRef.value * item.priceDiscount}} Đ</span></td>
                                    <td class="pro-remove"><a href="javascript:void(0)" (click)="openDialog(item)"><i class="fa fa-trash-o" ></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!--=======  End of cart table  =======-->
                    
                    
                </form>	
                    
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <!--=======  Calculate Shipping  =======-->
                        
                        <!--<div class="calculate-shipping">
                            <h4>Calculate Shipping</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Bangladesh</option>
                                            <option>China</option>
                                            <option>country</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Dhaka</option>
                                            <option>Barisal</option>
                                            <option>Khulna</option>
                                            <option>Comilla</option>
                                            <option>Chittagong</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Postcode / Zip">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Estimate">
                                    </div>
                                </div>
                            </form>
                        </div>-->
                        
                        <!--=======  End of Calculate Shipping  =======-->
                        
                        <!--=======  Discount Coupon  =======-->
                        
                        <!--<div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>-->
                        
                        <!--=======  End of Discount Coupon  =======-->
                        
                    </div>

                    
                    <div class="col-lg-6 col-12 d-flex">
                        <!--=======  Cart summery  =======-->
                    
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Tóm tắt giỏ hàng</h4>
                                <p>Tạm tính<span>{{totalAmount}} Đ</span></p>
                                <p>Phí vận chuyển <span>00.00</span></p>
                                <h2>Tổng cộng <span>{{totalAmount}} Đ</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button type="button" class="checkout-btn" routerLink="/shop/checkout">THANH TOÁN</button>
                                <!--<button class="update-btn">Update Cart</button>-->
                            </div>
                        </div>
                    
                        <!--=======  End of Cart summery  =======-->
                        
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="d-flex flex-column jutify-content-center align-items-center" *ngIf="!isShowCart" style="min-height: 550px">
        <p style="text-align: center; width:100%;">Không có sản phẩm nào để so sánh!.</p>
        <p style="text-align: center; width:100%;">Vui lòng đến trang sản phẩm <strong><a [routerLink]="['/shop']">Ấn vào đây</a></strong></p>
    </div>
<!--====================  End of page content  ====================-->
