<div class="full-banner-area mb-40 mb-md-10 mb-sm-10">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-4 col-lg-5 mb-md-30 mb-sm-30">
                <!--=======  full banner content  =======-->
                
                <div class="full-banner__content">
                    <h5>special offer</h5>
                    <h4>SUCCULENT GARDEN</h4>
                    <h3>GIFT BOXES</h3>
  
                    <p>From planter materials to style options, discover which planter is best for your space.</p>
  
                    <a href="javascript:void(0)" class="theme-button theme-button--outline banner-button">Explore The Shop</a>
                </div>
                <!--=======  End of full banner content  =======-->
            </div>
            <div class="col-xl-8 col-lg-7 text-center text-lg-right mb-md-30 mb-sm-30">
                <!--=======  full banner image  =======-->
                <div class="full-banner__image">
                    <a href="javascript:void(0)">
                        <img src="../../../../assets/img/banners/banner-big1.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                
                <!--=======  End of full banner image  =======-->
            </div>
        </div>
    </div>
  </div>