.card{
    border: 1px solid rgba(0,0,0,.125);
}
.product-image{
    width: 100%;
    max-width: 200px;
    display: block;
}
.div.dataTables_wrapper div.dataTables_filter{
    text-align: left !important
}