<div class="single-slider-product grid-view-product">
  <div class="single-slider-product__image">
    <a
      href="javascript:void(0)"
      [routerLink]="['/shop/product-detail', item.id]"
    >
      <img src="{{ item.image }}" class="img-fluid" alt=""/>
    </a>

    <span class="discount-label discount-label--green">-10%</span>

    <div class="hover-icons">
      <ul>
        <li>
          <a
            href="javascript:void(0)" matTooltip="Xem chi tiết"
            [routerLink]="['/shop/product-detail', item.id]"
            ><i class="icon-eye"></i
          ></a>
        </li>
        <li>
          <a href="javascript:void(0)" matTooltip="Yêu thích"><i class="icon-heart"></i></a>
        </li>
        <li>
          <a href="javascript:void(0)" matTooltip="So sánh sản phẩm này" (click)="addCompareItem(item)"><i class="icon-sliders"></i></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="single-slider-product__content">
    <p class="product-title">
      <a
        href="javascript:void(0)"
        [routerLink]="['/shop/product-detail', item.id]"
        >{{ item.name }}</a
      >
    </p>
    <div class="rating">
      <i class="ion-android-star active"></i>
      <i class="ion-android-star active"></i>
      <i class="ion-android-star active"></i>
      <i class="ion-android-star active"></i>
      <i class="ion-android-star"></i>
    </div>
    <p class="product-price">
      <span class="discounted-price">{{ item.priceDiscount }}Đ</span>
      <span class="main-price discounted">{{ item.price }}Đ</span>
    </p>

    <span class="cart-icon"
      ><a href="javascript:void(0)" (click)="openDialog(item)" matTooltip="Thêm vào giỏ hàng"
        ><i class="icon-shopping-cart"></i></a
    ></span>
  </div>
</div>
