 <!--====================  breadcrumb area ====================-->
    
 <div class="breadcrumb-area pt-10 pb-10 border-bottom mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb content  =======-->
                
                <div class="breadcrumb-content">
                    <ul>
                        <li class="has-child"><a href="index.html">Home</a></li>
                        <li>Cart</li>
                    </ul>
                </div>
                
                <!--=======  End of breadcrumb content  =======-->
            </div>
        </div>
    </div>
</div>

<!--====================  End of breadcrumb area  ====================-->

<!--==================== page content ====================-->

<div class="page-section pb-40">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">				
                    <!--=======  cart table  =======-->
                    
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="pro-thumbnail">Image</th>
                                    <th class="pro-title">Product</th>
                                    <th class="pro-price">Price</th>
                                    <th class="pro-quantity">Quantity</th>
                                    <th class="pro-subtotal">Total</th>
                                    <th class="pro-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of cartProducts">
                                    <td class="pro-thumbnail"><a href="javascript:void(0)"><img src="{{item.image}}" class="img-fluid" alt="Product"></a></td>
                                    <td class="pro-title"><a href="javascript:void(0)">{{item.name}}</a></td>
                                    <td class="pro-price"><span>${{item.priceDiscount}}</span></td>
                                    <td class="pro-quantity"><div class="pro-qty"><input type="text" [value]="item.quatity" [(ngModel)]="item.quatity" #qtyRef="ngModel" [ngModelOptions]="{standalone: true}"></div></td> 
                                    <td class="pro-subtotal"><span>${{qtyRef.value * item.priceDiscount}}</span></td>
                                    <td class="pro-remove"><a href="javascript:void(0)" ><i class="fa fa-trash-o" (click)="removeItemCart(item)"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <!--=======  End of cart table  =======-->
                    
                    
                </form>	
                    
                <div class="row">

                    <div class="col-lg-6 col-12">
                        <!--=======  Calculate Shipping  =======-->
                        
                        <!--<div class="calculate-shipping">
                            <h4>Calculate Shipping</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Bangladesh</option>
                                            <option>China</option>
                                            <option>country</option>
                                            <option>India</option>
                                            <option>Japan</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <select class="nice-select">
                                            <option>Dhaka</option>
                                            <option>Barisal</option>
                                            <option>Khulna</option>
                                            <option>Comilla</option>
                                            <option>Chittagong</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Postcode / Zip">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Estimate">
                                    </div>
                                </div>
                            </form>
                        </div>-->
                        
                        <!--=======  End of Calculate Shipping  =======-->
                        
                        <!--=======  Discount Coupon  =======-->
                        
                        <!--<div class="discount-coupon">
                            <h4>Discount Coupon Code</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="text" placeholder="Coupon Code">
                                    </div>
                                    <div class="col-md-6 col-12 mb-25">
                                        <input type="submit" value="Apply Code">
                                    </div>
                                </div>
                            </form>
                        </div>-->
                        
                        <!--=======  End of Discount Coupon  =======-->
                        
                    </div>

                    
                    <div class="col-lg-6 col-12 d-flex">
                        <!--=======  Cart summery  =======-->
                    
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total <span>${{totalAmount}}</span></p>
                                <p>Shipping Cost <span>$00.00</span></p>
                                <h2>Grand Total <span>${{totalAmount}}</span></h2>
                            </div>
                            <div class="cart-summary-button">
                                <button class="checkout-btn">Checkout</button>
                                <!--<button class="update-btn">Update Cart</button>-->
                            </div>
                        </div>
                    
                        <!--=======  End of Cart summery  =======-->
                        
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

<!--====================  End of page content  ====================-->
