

<!--====================  slider area ====================-->
<app-slider></app-slider>
<!--====================  slider area ====================-->
<!--====================  full banner area ====================-->
<app-banner></app-banner>
<!--====================  full banner area ====================-->

<!--====================  product deals area ====================-->
<app-product-deals></app-product-deals>
<!--====================  product deals area ====================-->

<!--====================  special offer area ====================-->
<app-special-offer></app-special-offer>

<!--====================  End of full banner area  ====================-->

<!--====================  banner with double row slider ====================-->

<app-product-new></app-product-new>

<!--====================  End of banner with double row slider  ====================-->
<!--====================  icon feature area ====================-->
<app-product-service></app-product-service>

<!--====================  End of icon feature area  ====================-->
<!--====================  category area ====================-->
<app-product-category></app-product-category>

<!--====================  End of category area  ====================-->
<!--====================  blog post slider area ====================-->

<app-blog-latest></app-blog-latest>

<!--====================  End of blog post slider area  ====================-->
<!--====================  brand logo slider area ====================-->
<app-client></app-client>

<!--====================  End of brand logo slider area  ====================-->
<!--====================  newsletter area ====================-->

<app-subscribe></app-subscribe>
<!--====================  End of newsletter area  ====================-->


