<div class="blog-post-slider-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->
                
                <div class="section-title mb-20">
                    <h2>Latest Blogs</h2>
                </div>
                
                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog post slider wrapper  =======-->
                
                <div class="blog-post-slider-wrapper">
                    <div class="ht-slick-slider"
                    data-slick-setting='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "dots": false,
                        "autoplay": false,
                        "autoplaySpeed": 5000,
                        "speed": 1000,
                        "arrows": true,
                        "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-ios-arrow-left" },
                        "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-ios-arrow-right" }
                    }'
                    data-slick-responsive='[
                        {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                        {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                        {"breakpoint":991, "settings": {"slidesToShow": 2} },
                        {"breakpoint":767, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":575, "settings": {"slidesToShow": 1, "arrows": false} },
                        {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                    ]'
                    >
  
                        <!--=======  single blog post  =======-->
                        
                        <div class="slider-single-post">
                            <div class="slider-single-post__image">
                                <a href="blog-post-left-sidebar.html">
                                    <img src="../../../../assets/img/blog/slider1.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="slider-single-post__content">
                                <h3 class="post-title"><a href="blog-post-left-sidebar.html">Bromeliad Mount Care: How to Water and Care for Mounted Bromeliads</a></h3>
                                <div class="post-meta">
                                    <p class="author-name">by <span>HasTech</span></p>
                                    <p class="post-date">30 Oct, 2018</p>
                                </div>
                            </div>
                        </div>
                        
                        <!--=======  End of single blog post  =======-->
  
                        <!--=======  single blog post  =======-->
                        
                        <div class="slider-single-post">
                            <div class="slider-single-post__image">
                                <a href="blog-post-left-sidebar.html">
                                    <img src="../../../../assets/img/blog/slider2.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="slider-single-post__content">
                                <h3 class="post-title"><a href="blog-post-left-sidebar.html">Mounted Tropical Plant Care: How to Grow Epiphytic Tropical Plants</a></h3>
                                <div class="post-meta">
                                    <p class="author-name">by <span>HasTech</span></p>
                                    <p class="post-date">30 Oct, 2018</p>
                                </div>
                            </div>
                        </div>
                        
                        <!--=======  End of single blog post  =======-->
  
                        <!--=======  single blog post  =======-->
                        
                        <div class="slider-single-post">
                            <div class="slider-single-post__image">
                                <a href="blog-post-left-sidebar.html">
                                    <img src="../../../../assets/img/blog/slider3.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="slider-single-post__content">
                                <h3 class="post-title"><a href="blog-post-left-sidebar.html">Plantlet Care: How To Pot Up and Care For Juvenile Houseplants</a></h3>
                                <div class="post-meta">
                                    <p class="author-name">by <span>HasTech</span></p>
                                    <p class="post-date">30 Oct, 2018</p>
                                </div>
                            </div>
                        </div>
                        
                        <!--=======  End of single blog post  =======-->
  
                        <!--=======  single blog post  =======-->
                        
                        <div class="slider-single-post">
                            <div class="slider-single-post__image">
                                <a href="blog-post-left-sidebar.html">
                                    <img src="../../../../assets/img/blog/slider4.jpg" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="slider-single-post__content">
                                <h3 class="post-title"><a href="blog-post-left-sidebar.html">The Definitive List of Pumpkin Spice Everything fotr 2018</a></h3>
                                <div class="post-meta">
                                    <p class="author-name">by <span>HasTech</span></p>
                                    <p class="post-date">30 Oct, 2018</p>
                                </div>
                            </div>
                        </div>
                        
                        <!--=======  End of single blog post  =======-->
                    </div>
                </div>
                
                <!--=======  End of blog post slider wrapper  =======-->
            </div>
        </div>
    </div>
  </div>
  