<div class="newsletter-area mb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--=======  newsletter wrapper  =======-->

        <div class="newsletter-wrapper newsletter-bg-1">
          <div class="newsletter-wrapper__text">
            <h5>Theo dõi bản tin để được cập nhật</h5>
            <p>
              Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên
              thứ ba.
            </p>
          </div>
          <div class="newsletter-wrapper__form">
            <form id="mc-form" class="mc-form">
              <input
                type="email"
                placeholder="Email của bạn ..."
              />
              <button type="submit">Theo dõi</button>
            </form>

            <!-- mailchimp-alerts Start -->

            <div class="mailchimp-alerts mt-5 mb-5">
              <div class="mailchimp-submitting"></div>
              <!-- mailchimp-submitting end -->
              <div class="mailchimp-success"></div>
              <!-- mailchimp-success end -->
              <div class="mailchimp-error"></div>
              <!-- mailchimp-error end -->
            </div>
            <!-- mailchimp-alerts end -->
          </div>
        </div>

        <!--=======  End of newsletter wrapper  =======-->
      </div>
    </div>
  </div>
</div>
