@import "assets/css/vendors.css";
@import "assets/css/style.css";

.paddingLeft-custom {
  padding-left: 300px !important;
}
.single-slider-product__image img {
  width: 255px;
  height: 255px;
}

.scrol-cart-visible{
    opacity: 0;
}

.scroll-cart {
  transition: all 0.3s;
  background: #3a9943;
  border-radius: 5px;
  bottom: 0px;
  color: #fff;
  display: block;
  position: fixed;
  right: 0;
  bottom: 50%;
  text-align: center;
  text-decoration: none;
  min-width: 39px;
  z-index: 1040;
}
// /* Global Styles */
// h1 {
//   color: #369;
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: 250%;
// }
// h2, h3 {
//   color: #444;
//   font-family: Arial, Helvetica, sans-serif;
//   font-weight: lighter;
// }
// body {
//   margin: 2em;
// }
// body, input[text], button {
//   color: #333;
//   font-family: Cambria, Georgia;
// }
// a {
//   cursor: pointer;
//   cursor: hand;
// }
// button {
//   font-family: Arial;
//   background-color: #eee;
//   border: none;
//   padding: 5px 10px;
//   border-radius: 4px;
//   cursor: pointer;
//   cursor: hand;
// }
// button:hover {
//   background-color: #cfd8dc;
// }
// button:disabled {
//   background-color: #eee;
//   color: #aaa;
//   cursor: auto;
// }

// /* Navigation link styles */
// nav a {
//   padding: 5px 10px;
//   text-decoration: none;
//   margin-right: 10px;
//   margin-top: 10px;
//   display: inline-block;
//   background-color: #eee;
//   border-radius: 4px;
// }
// nav a:visited, a:link {
//   color: #607D8B;
// }
// nav a:hover {
//   color: #039be5;
//   background-color: #CFD8DC;
// }
// nav a.active {
//   color: #039be5;
// }

// /* everywhere else */
// * {
//   font-family: Arial, Helvetica, sans-serif;
// }

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.hasError {
  border: 1px solid red !important;
}
