
    <div class="breadcrumb-area pt-10 pb-10 border-bottom mb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--=======  breadcrumb content  =======-->
                    
                    <div class="breadcrumb-content">
                        <ul>
                            <li class="has-child"><a href="index.html">Home</a></li>
                            <li>Shop</li>
                        </ul>
                    </div>
                    
                    <!--=======  End of breadcrumb content  =======-->
                </div>
            </div>
        </div>
    </div>
    
    <!--====================  End of breadcrumb area  ====================-->

    <!--==================== page content ====================-->
    
    <div class="page-section pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2 d-none">
                    <!--=======  page sidebar  =======-->
                    
                    <div class="page-sidebar">

                        <!--=======  widget wrapper  =======-->
                        <div class="sidebar-widget-wrapper mb-30">
                            <!--=======  sidebar widget  =======-->
                            
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title">CATEGORIES</h3>
                                <ul class="category-list">
                                    <li><a href="#">Bonsai (3)</a></li>
                                    <li><a href="#">House Plants (6)</a></li>
                                    <li><a href="#">Indoor Living (9)</a></li>
                                    <li><a href="#">Outdoor Living (15)</a></li>
                                    <li><a href="#">Perennials (5)</a></li>
                                    <li><a href="#">Plant For Gift (5)</a></li>
                                    <li class="has-children"><a href="#">Garden Tools (5)</a>
                                        <ul>
                                            <li><a href="#">Saws (0)</a></li>
                                            <li><a href="#">Concrete Tools (6)</a></li>
                                            <li><a href="#">Drills (2)</a></li>
                                            <li><a href="#">Sanders (1)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Tools (15)</a></li>
                                </ul>
                            </div>
                            <!--=======  End of sidebar widget  =======-->

                            <!--=======  sidebar widget  =======-->
                            
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title mb-30 mt-0">FILTER BY PRICE</h3>
                                
                                <div class="sidebar-price">
                                    <div id="price-range" class="mb-10"></div>
                                    <input type="text" id="price-amount" class="price-amount" readonly>
                                </div>
                            </div>
                            <!--=======  End of sidebar widget  =======-->

                            <!--=======  sidebar widget  =======-->
                            
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title mt-0">MANUFACTURER</h3>
                                
                                <div class="sidebar-filter-group">
                                    <a href="#">Christian Dior <span>(5)</span></a>
                                    <a href="#">Diesel <span>(15)</span></a>
                                    <a href="#">ferragamo <span>(4)</span></a>
                                    <a href="#">hermes <span>(20)</span></a>
                                    <a href="#">louis vuitton <span>(35)</span></a>
                                </div>
                            </div>
                            <!--=======  End of sidebar widget  =======-->

                            <!--=======  sidebar widget  =======-->
                            
                            <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title mt-0">SELECT BY COLOR</h3>
                                
                                <div class="sidebar-filter-group-color">
                                    <a href="#">Black <span>(5)</span></a>
                                    <a href="#">Blue <span>(6)</span></a>
                                    <a href="#">Brown <span>(3)</span></a>
                                    <a href="#">Green <span>(7)</span></a>
                                    <a href="#">Pink <span>(8)</span></a>
                                    <a href="#">Red <span>(3)</span></a>
                                    <a href="#">White <span>(9)</span></a>
                                    <a href="#">Yellow <span>(5)</span></a>
                                </div>
                            </div>
                            <!--=======  End of sidebar widget  =======-->
                        </div>
                        <!--=======  End of widget wrapper  =======-->

                        <!--=======  page sidebar banner  =======-->
                        
                        <div class="page-sidebar-banner">
                            <a href="shop-left-sidebar.html">
                                <img src="assets/img/banners/banner-sidebar.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        
                        <!--=======  End of page sidebar banner  =======-->

                    </div>
                    
                    <!--=======  End of page sidebar  =======-->
                </div>
                <div class="col-lg-12 order-1">
                    <!--=======  shop banner  =======-->
                    
                    <div class="shop-banner mb-30 text-center d-none">
                        <img src="assets/img/banners/shop-banner.jpg" class="img-fluid" alt="">
                    </div>
                    
                    <!--=======  End of shop banner  =======-->
                
                    <!--=======  shop header  =======-->
                    
                    <div class="shop-header mb-30">
                        <div class="shop-header__left">
                            <div class="grid-icons mr-20">
                                <button data-target="grid three-column" data-tippy="3" data-tippy-inertia="true" data-tippy-animation="fade" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder" class="three-column"></button>
                                <button data-target="grid four-column" data-tippy="4" data-tippy-inertia="true" data-tippy-animation="fade" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder"  class="active four-column d-none d-lg-block"></button>
                                <button data-target="list" data-tippy="List" data-tippy-inertia="true" data-tippy-animation="fade" data-tippy-delay="50" data-tippy-arrow="true" data-tippy-theme = "sharpborder"  class="list-view"></button>
                            </div>

                            <div class="shop-header__left__message">
                                Showing 1 to 9 of 15 (2 Pages)
                            </div>
                        </div>

                        <div class="shop-header__right">

                            <div class="single-select-block d-inline-block mr-50 mr-lg-10 mr-md-10 mr-sm-10">
                                <span class="select-title">Show:</span>
                                <select>
                                    <option value="1">10</option>
                                    <option value="2">20</option>
                                    <option value="3">30</option>
                                    <option value="4">40</option>
                                </select>
                            </div>

                            <div class="single-select-block d-inline-block">
                                <span class="select-title">Sort By:</span>
                                <select>
                                    <option value="1">Default</option>
                                    <option value="2">Name (A-Z)</option>
                                    <option value="3">Price (min - max)</option>
                                    <option value="4">Color</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <!--=======  End of shop header  =======-->

                    <!--=======  shop page content  =======-->
                    
                    <div class="row shop-product-wrap grid four-column mb-10">
                        <div class="col-12 col-lg-3 col-md-6 col-sm-6 mb-20" *ngFor="let item of Products">
                            <app-product-item [item]="item"></app-product-item>
                        </div>
                    </div>
                    
                    <!--=======  End of shop page content  =======-->

                    <!--=======  pagination  =======-->
                    
                    <!-- <div class="pagination-section mb-md-30 mb-sm-30">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">></a></li>
                            <li><a href="#">>|</a></li>
                        </ul>

                        <div class="pagination-text">
                            Showing 1 to 9 of 15 (2 Pages)
                        </div>
                    </div> -->
                    
                    <!--=======  End of pagination  =======-->
                </div>
            </div>
        </div>
    </div>
    
    <!--====================  End of page content  ====================-->

