<div class="banner-double-row-slider-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title mb-20">
                    <h2>Sản phẩm mới</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>

        <div class="row row-10">
            <div class="col-custom-5 mb-sm-30">
                <!--=======  slider banner area  =======-->

                <div class="slider-banner" style="height: 100%;">
                    <a href="javascript:void(0)" style="height: 100%;">
                        <img src="../../../../assets/img/banners/slider-banner1.jpg" style="height: 100%;" class="img-fluid" alt="">
                    </a>
                </div>

                <!--=======  End of slider banner area  =======-->
            </div>
            <div class="col-custom-7">
                <!--=======  product double row slider wrapper  =======-->

                <div class="product-double-row-slider-wrapper">
                    <div class="ht-slick-slider" data-slick-setting='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "dots": false,
                        "autoplay": false,
                        "autoplaySpeed": 5000,
                        "speed": 1000,
                        "arrows": true,
                        "rows": 2,
                        "prevArrow": {"buttonClass": "slick-prev", "iconClass": "ion-ios-arrow-left" },
                        "nextArrow": {"buttonClass": "slick-next", "iconClass": "ion-ios-arrow-right" }
                    }' data-slick-responsive='[
                        {"breakpoint":1501, "settings": {"slidesToShow": 3} },
                        {"breakpoint":1199, "settings": {"slidesToShow": 3} },
                        {"breakpoint":991, "settings": {"slidesToShow": 2} },
                        {"breakpoint":767, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":575, "settings": {"slidesToShow": 2, "arrows": false} },
                        {"breakpoint":479, "settings": {"slidesToShow": 1, "arrows": false} }
                    ]'>

                        <!--=======  single slider product  =======-->

                        <div class="single-slider-product-wrapper" *ngFor="let item of Products">
                            <div class="single-slider-product">
                                <div class="single-slider-product__image">
                                    <a href="javascript:void(0)">
                                        <img src="{{item.image}}" class="img-fluid" alt="">
                                        <img src="../../../../assets/img/products/medium13.jpg" class="img-fluid"
                                            alt="">
                                    </a>

                                    <span class="discount-label discount-label--green">-15%</span>

                                    <div class="hover-icons">
                                        <ul>
                                            <li><a data-toggle="modal" (click)="handleDialog(item)"
                                                    data-target="#quick-view-modal-container"
                                                    href="javascript:void(0)"><i class="icon-eye"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="icon-heart"></i></a></li>
                                            <li><a href="javascript:void(0)"><i class="icon-sliders"></i></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="single-slider-product__content">
                                    <p class="product-title"><a href="javascript:void(0)">{{item.name}}</a></p>
                                    <div class="rating">
                                        <i class="ion-android-star active"></i>
                                        <i class="ion-android-star active"></i>
                                        <i class="ion-android-star active"></i>
                                        <i class="ion-android-star active"></i>
                                        <i class="ion-android-star"></i>
                                    </div>
                                    <p class="product-price"><span
                                            class="discounted-price">{{item.priceDiscount}}Đ</span> <span
                                            class="main-price discounted">{{item.price}}Đ</span></p>

                                    <span class="cart-icon"><a href="javascript:void(0)" (click)="openDialog(item)"><i
                                                class="icon-shopping-cart"></i></a></span>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>

                <!--=======  End of product double row slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>